.todoItem {
  margin: 16px;
  width: 240px;
  min-height: 48px;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  place-content: center;
  place-items: center;
  background-color: var(--color__background-lighter);

  -webkit-box-shadow: 6px 8px 8px 2px rgba(0,0,0,0.76); 
  box-shadow: 6px 8px 8px 2px rgba(0,0,0,0.76);
}
.todoItem__checkbox {
    height: 16px;
    width: 16px;
    cursor: pointer;
}
.todoItem__task {
  font-size: 1.5rem;
  padding: 8px;
  text-align: center;
}
.todoItem__close {
  font-size: 1.6rem;
  cursor: pointer;
}
.todoItem__close:hover {
  color: red;
}
.task-done{
    text-decoration:line-through;
    color: var(--color__secondary-darker);
}