.todoSearch-container{
    margin: 0 16px;
    display: flex;
    justify-content: center;
}
.todoSearch{
    width: 240px;  
    height: 30px;
    padding: 8px;
    border: none;
}
.todoSearch:focus { 
    outline: none ;
    border-color: var(--color__secondary-darker);
    box-shadow: 0 0 10px var(--color__secondary-darker);
}
